name: Security Threat Model
permissions:
  contents: read       
  pull-requests: write  
  actions: write       
  checks: write        

on:
  push:
    branches: [ "main", "master", "develop" ]
  pull_request:
    branches: [ "main", "master", "develop" ]
  workflow_dispatch:

jobs:
  threat-modeling:
    uses: yantongggg/TM_M/.github/workflows/threat-modeling-reusable.yml@v1.0.1
    with:
      auto_discovery: true 
    secrets:
      openrouter_api_key: ${{ secrets.OPENROUTER_API_KEY }}



