  name: Security Scanning

  permissions:
    contents: read
    pull-quests: write
    actions: write

  on:
    push:
      branches: [ "main", "master", "develop" ]
    pull_request:
      branches: [ "main", "master", "develop" ]
    workflow_dispatch:

  jobs:
    sast-scan:
      uses: yantongggg/TM_M/.github/workflows/sast-reusable.yml@v1.0.2
      with:
        semgrep_config: auto
        security_mode: audit
